.connections {
  @extend .row;

  display: block;
  margin: {
    bottom: $grid-gutter-width / 2;
  }

  > ul {
    @extend .nav;

    background: {
      color: $gray-500;
    }

    > li {
      @extend .nav-item;

      border-bottom: {
        color: $blue;
        width: 0.25rem;
      }

      &.active {
        border-bottom: {
          style: solid;
        }
      }

      .nav-link {
        color: $gray-900;
        margin: {
          bottom: -0.25rem;
        }

        &.nav-link--icon {
          padding: {
            left: ($nav-link-padding-x * 2) + 1rem;
          }
          background: {
            position-x: $grid-gutter-width / 2;
            position-y: center;
            repeat: no-repeat;
            size: 1rem;
          }
        }
      }
    }
  }
}
