.navigation {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .row;

  margin: {
    bottom: $grid-gutter-width;
  }

  .nav-icons {
    @extend .navbar-nav;
    @extend .mr-auto;

    a {
      color: #fff;
    }
  }
}
