.query_page_wrapper {

  $query-navbar-height: 54px;

  .query_wrapper {

    .query_input {
      height: calc(100% - #{$query-navbar-height});

      .ace_gutter-cell,
      .ace_line {
        padding: {
          top: 4px !important;
          bottom: 4px !important;
        }
      }

    }

    .query_submit {
      //display: none;
      position: absolute;
      bottom: 0;
      right: 0;
    }

  }

  .result_wrapper {
  }
}
