.layout.layout--left-sidebar {

  .main-content__sidebar,
  .main-content__body {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    overflow: auto;
    padding: $grid-gutter-width / 2 {
      top: $grid-gutter-width;
    }
  }

  .main-content__sidebar {
    left: 0;
    width: $default-sidebar-width;

    .sidebar-width-dragger {
      z-index: 999;
      position: fixed;
      top: $navbar-height;
      left: $default-sidebar-width;
      right: 0;
      bottom: 0;
      width: $grid-gutter-width / 6;
      background: {
        color: $gray-500;
      }
      cursor: col-resize;
    }
  }

  .main-content__body {
    left: $default-sidebar-width;
    right: 0;

    .query_wrapper,
    .result_wrapper {
      position: absolute;
      left: 0;
      right: 0;
      overflow: auto;
      padding: $grid-gutter-width / 2 {
        top: $grid-gutter-width;
      }
    }

    .query_wrapper {
      top: 0;
      bottom: 50%;
    }

    .result_wrapper {
      top: 50%;
      bottom: 0;
    }
  }

}
